.MonthView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.MonthView > .DaysHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.MonthView > .DaysHeader > span {
    width: calc(100% / 7);
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    background-color: #ccc;
}

.MonthView > .DatesMatrix {
    display: flex;
    flex-direction: column;
}

.MonthView > .DatesMatrix > .Dates {
    display: flex;
    flex-direction: row;
}